<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>服务器公告编辑</title>
    <link rel="stylesheet" href="../../../../static/css/bootstrap5.3/bootstrap.min.css" th:href="@{/css/bootstrap5.3/bootstrap.min.css}" />
    <link rel="stylesheet" href="../../../../static/js/layui2.8/css/layui.css" th:href="@{/js/layui2.8/css/layui.css}" />
    <style>

    </style>
</head>
<body>

<form class="form-horizontal m" id="from-data" th:object="${serverBulletin}">
    <div class="col-md-6">
        <p class="text-start" style="font-size: 18px;" >服务器公告:</p>
    </div>
    <div class="col-sm-6" style="margin-top: 10px">
        <input autocomplete="off" type="hidden" name="id" id="id" th:field="*{id}">
        <textarea style="width: 100%; height: 200px"  id="content" name="content" required>[[*{content}]]</textarea>
    </div>
</form>
<div class="col-sm-6" style="text-align: center">
    <button class="btn btn-primary" onclick="save()">保存</button>
</div>

</body>
<th:block th:include="include :: footer" />
<script src="../../../../static/js/bootstrap5.3/bootstrap.min.js" th:src="@{/js/bootstrap5.3/bootstrap.js}"></script>
<script src="../../../../static/js/layui2.8/layui.js" th:src="@{/js/layui2.8/layui.js}"></script>
<script src="../../../../static/js/axios/axios.min.js" th:src="@{/js/axios/axios.min.js}"></script>
<script src="../../../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script>
    let dataPrefix = '/frontManager';

    document.addEventListener("DOMContentLoaded", function() {



    });


    function save(){
        if($("#from-data").validate().form()){
            let param = getFormData("from-data");
            loadIndex = layer.msg('正在保存...', {
                icon: 16,
                shade: 0.3
            });
            instance.post(dataPrefix + '/saveServerBulletin', param)
                .then(response => {
                    layer.close(loadIndex);
                    // 请求成功，处理响应数据
                    // console.log(response.data);
                    if(response.data.code === success_code){
                        showAlert(response.data.message,1);
                    }else if(response.data.code === warning_code){
                        showAlert(response.data.message,3);
                        return;
                    }else if(response.data.code === error_code || response.data.code === bad_code){
                        showAlert(response.data.message,4);
                        return;
                    }

                })
                .catch(error => {
                    // 请求失败，处理错误
                    layer.close(loadIndex);
                    console.error(error);
                    showAlert(error,4);
                });
        }
    }

</script>

</html>